global
  maxconn 4096
defaults
  mode http
  timeout connect 5s
  timeout client 1h
  timeout server 1h
frontend runtime_http
  bind :8080
  default_backend gateways
backend gateways
  balance roundrobin
  option httpchk GET /ready
  server gateway gateway:8080 check
