global
  log stdout format raw local0

defaults
  mode http
  timeout connect 5s
  timeout client 1h
  timeout server 1h

frontend runtime_http
  bind *:8080
  default_backend gateways

backend gateways
  balance roundrobin
  option httpchk GET /ok
  server gateway1 gateway-1:8080 check
  server gateway2 gateway-2:8080 check
